/* Have to make it responsive for tablets and phones */

#container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  background-color: white;
  column-gap: 0;
}
