.image {
  justify-content: center;
}

/* .image:hover {
  opacity: 0.7;
} */

#imageCentre {
  align-items: center !important;
  position: relative;
  margin: 5em 5em 0 5em;
}

/* #imageCentre:hover {
  opacity: 0.5;
} */

#imageCentre:hover .image {
  color: rgba(0, 0, 0, 0.7);
  /* opacity: 0.5; */
}

#textCentre {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

#price,
.text h3 {
  text-align: center;
}

#price b {
  padding-right: 0.5em;
  font-size: 1.3em;
}

#heart {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px 0 0;
  color: aliceblue;
}

#stars {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 50%;
}

.bottomContent {
  margin-bottom: 2.5em;
}
