* {
  margin: 0px;
  padding: 0px;
}
.sidenav {
    height: auto;
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    border-radius: 20px;
    border: 1px solid gray;
    padding:20px 20px 20px 20px;
  }
  p{
      color: #FF7F7F;
  }
